body{
	margin: 0; 
	font-family: verdana;
	background-color: #FCBA08
	
}


.container-fluid{
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.row{
	display: flex;
}
.header{

	background-image: url("img/bf.jpg");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	//background-color:#DD440F;
	height: 100vh;
	padding-top: 10px;
	box-sizing: border-box;
	position: relative;
}
.logo{
	width: 25%;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	//box-sizing: border-box;
	height: 25vh;
	position: relative;
	background-image: url("img/logo.png");
}

.header .menu{
	width: 75%;
	text-align: right;
	position: relative;
}
.header .menu input[type="checkbox"], .header .menu span{
	display: none;
}
.header .menu ul{
	list-style: none;
}
.header .menu ul li{
	display: inline-block;
}
.header .menu ul li:not(:first-child){
	margin-left: 20px;
}
.header .menu a{
	font-size: 21px;
	font-weight: bold;
	color: #F1CC02;	
	 text-shadow: 3px 3px #EA0909;
	text-decoration: none;
}
.selected, .header .menu a:hover{
	border-bottom: 1px solid #F8EA09;
	padding-bottom: 3px;
	transition: 0.4s border;
} 
.banner{
	color: #DD440F;
	padding-top: 50px;
	margin-left: auto;
    margin-right: auto;
}
.banner-title{
	 text-shadow: 3px 3px #FEFEFE;
	font-size: 70px;
	 margin-left: auto;
  	margin-right: auto;
}
.banner-content{
	 text-shadow: 3px 3px #FEFEFE;
	width: 70%;
	font-size: 30px;
	margin-left: auto;
 	margin-right: auto;
}
.ImgRec1 {
		background-image: url(img/menu.png);
		background-repeat: no-repeat;
  		background-size: 100% 100%;
  		width: 100%;
  		height: 74px;

	}

.ImgRec2 {
		background-image: url(img/burro.jpg);
		background-repeat: no-repeat;
  		background-size: 100% 100%;
  		border-radius: 12%;
  		border:5px solid #CC1212;
	}
.ImgRec3 {
		background-image: url(img/horchata.jpg);
		background-repeat: no-repeat;
  		background-size: 100% 100%;
  		border-radius: 12%;
  		border:5px solid #CC1212;
	}

.ImgRec4 {
		background-image: url(img/salsa.jpg);
		background-repeat: no-repeat;
  		background-size: 100% 100%;
  		border-radius: 12%;
  		border:5px solid #CC1212;

	}


.content{
	//margin-top: 10px;
	
}
.services{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services h2{
	color:  #6AACC2;
	font-size: 35px;
	margin-bottom: 10px;
	text-align: center;
}
.services-summary{
	color: #1D6D88;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 20px;
	text-align: center;
}
.service-content{
	display: flex;
	box-sizing: border-box;
	margin-top: 10px;
}
.service{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFFFFF;
	font-size: 20px;
	text-shadow: 2px 2px #E31717;
}
.service-icon{
	color: #D10E0E;
	font-size: 80px;
	text-shadow: 3px 3px #FAFBFC;

}
.service-description{
	text-align: center;
}
.footer{

	background-color: #FE440B;
	margin-top: 70px;
	text-align: center;
	padding: 20px 0;
	
}

.footer-content{
	
	color: white;
}

@media screen and (max-width: 1023px){
	.logo{
		margin: auto;
		width: 300px;
	}

	.header{
		height: auto;
		padding-bottom: 20px;
	}
	.header .row{
		flex-direction: column;
	}
	.header .menu{
		width: 100%;
		text-align: center;
	}

	.banner{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 15px;
	
	}
	.banner .banner-img{
		position: static;
	}
}
@media screen and (max-width: 767px){
	.logo{
		margin: auto;
		width: 300px;
	}

	.service-content{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.banner-content{
	width: 70%;
	font-size: 30px;
	margin-left: auto;
 	margin-right: auto;
	}

	.banner-title{
	margin-left: auto;
 	margin-right: auto;
	}

	.service{
		width: 45%;
	}
}
@media screen and (max-width: 668px){

	.logo{
		margin: auto;
		width: 200px;
	}
	.banner-content{
	width: 70%;
	font-size: 30px;
	margin-left: auto;
 	margin-right: auto;
}

	.header .menu ul{
		display: none;
	}
	.banner{
		color: #DD440F;
		padding-top: 50px;
		margin-left: auto;
	    margin-right: auto;
	}
	.banner-title{
		font-size: 30px;
		 margin-left: auto;
	  	margin-right: auto;
	}
	.banner-content{
		width: 70%;
		font-size: 30px;
		margin-left: auto;
	 	margin-right: auto;
	}
	.header .menu{
	width: 75%;
	text-align: center
	position: relative;
}
	.header .menu input[type="checkbox"]{

		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		opacity: 0;
		z-index: 2;
	}
	.header .menu span{

		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background-color: white;
		border-radius: 3px;
		z-index: 1;
	}
	.header .menu input:checked ~ul{
		display: block;
	}
	.banner .banner-img img{
		width: 100%;
	}
	.service{
		width: 100%;
	}

	@media screen and (max-width: 375px){

	.logo{
		margin: auto;
		width: 200px;
	}
	.banner-content{
	width: 70%;
	font-size: 30px;
	margin-left: auto;
 	margin-right: auto;
}


}